:root {
    --primary-clr-soft-orange: hsl(35, 77%, 62%);
    --primary-soft-red: hsl(5, 85%, 63%);

    --neutral-off-white: hsl(36, 100%, 99%);
    --neutral-grayish-blue: hsl(233, 8%, 79%);
    --neutral-dark-grayish-blue: hsl(236, 13%, 42%);
    --neutral-very-dark-blue: hsl(240, 100%, 5%);
}

.clr-dark-grayish-blue {
    color: var(--neutral-dark-grayish-blue);
}

.clr-very-dark-blue {
    color: var(--neutral-very-dark-blue);
}

.clr-grayish-blue {
    color: var(--neutral-grayish-blue);
}

.clr-soft-red {
    color: var(--primary-soft-red);
}

.clr-soft-orange {
    color: var(--primary-clr-soft-orange);
}

.clr-off-white {
    color: var(--neutral-off-white);
}

/* BG Colors */
.bg-dark-grayish-blue {
    color: var(--neutral-dark-grayish-blue);
}

.bg-very-dark-blue {
    background-color: var(--neutral-very-dark-blue);
}

.bg-grayish-blue {
    background-color: var(--neutral-grayish-blue);
}

.bg-soft-red {
    background-color: var(--primary-soft-red);
}

.bg-soft-orange {
    background-color: var(--primary-clr-soft-orange);
}

.bg-off-white {
    background-color: var(--neutral-off-white);
}

/* Border Bottom */
.border-bottom {
    border-bottom: 0.03125rem solid var(--neutral-off-white);
}

/* Font Weights */

.fw-normal {
    font-weight: 400 !important;
}

.fw-semi-bold {
    font-weight: 400 !important;
}

.fw-bold {
    font-weight: 400 !important;
}

/* Hover */
.transition {
    transition: all 300ms ease;
}


.hover-clr-soft-red:hover {
    color: var(--primary-soft-red);
    cursor: pointer;
}

.hover-clr-soft-orange:hover {
    color: var(--primary-clr-soft-orange);
    cursor: pointer;
}

.hover-clr-off-white:hover {
    color: var(--neutral-off-white);
    cursor: pointer;
}

.hover-very-dark-blue:hover {
    background-color: var(--neutral-very-dark-blue);
    cursor: pointer;
}